@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Anton+SC&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, #root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.bodyGame{
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.buttonContainer{
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%;
  height: 100%;
  padding-left: 6%;
  padding-top: 2%;
  padding-bottom: 2%;
}
.container-clicker{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.img-cat{
  height: auto;
  max-width: 60%;
}
.cat-counters{
  width: 80%;
  font-family: "Anton SC", sans-serif;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  padding: 15px;
  border-radius: 30px;
  background-color: #FFE2E2;
  border: transparent;
}
.cat-counters h1{
  font-size: 3em;
}